!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %title ForgottenBond

    %link{href: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css", rel: "stylesheet"}
    %link{href: "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", rel: "stylesheet"}
    %link{href: "//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js", rel: "stylesheet"}
    %link{href: "http://fonts.googleapis.com/css?family=Lusitana:400,700", rel: "stylesheet", type: "text/css"}

    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body
    %section.header
      %h1= link_to image_tag("/images/logo.png", title: "ForgottenBond", alt: "ForgottenBond"), root_path
      .header_content
        = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
    %script{src: "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
